ipykernel
black
datajoint>=0.13.0
element-lab==0.1.2
element-animal
element-deeplabcut
element-session
element-event
element-array-ephys
ecephys-spike-sorting @ git+https://github.com/datajoint/ecephys_spike_sorting.git
element-calcium-imaging
element-interface
datajoint-utilities @ git+https://github.com/datajoint-company/datajoint-utilities.git
scanreader @ git+https://github.com/atlab/scanreader.git
suite2p
graphviz
tdt==0.4.3
tifffile==2021.11.2
nd2
seaborn==0.12.0
pySimpleGUI
fastparquet
sphinx_rtd_theme
pymatreader
